table{
color: #000000;
	background-color: white;
	border-collapse: collapse;
}
th,td{
		color: #000000;
	border: solid 1px white;
	padding 5;
}
thead{
		color: #000000;
background-color: #246355;
color: white;
border-bottom: solid 5px #213345;
}
tr:nth-child(even){
		color: #000000;
background-color: %ddd;
}
tr:hover{
		color: #000000;
	background-color: #369681;
	color: white;
}
body
{
	color: #fff;
	margin: 1;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	font-family: "Luna";
}